.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: #eee;
}

.pagination button:hover {
  background-color: var(--clr-grey);
  color: #101010;
  font-weight: 900;
}

.pagination button.active {
  font-weight: 900;
  background: var(--clr-robin-green);
  color: #101010;
}
