.pagination {
  margin: 3rem 0;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
  color: #eee;
}

.pagination button:hover {
  border: 2px solid var(--clr-white);
  font-weight: 900;
}

.pagination button.active {
  font-weight: 900;
  background: var(--clr-robin-green);
  color: #101010;
}
